body {
    margin: auto 0;
    font-family: Arial;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.murderer {
	color: red;
}

.text {
	color: white;
	align-self: center;
}

img {
	background-color: grey;
	margin-top: 50px;
}

p {
	width: 400px;
	text-align: center;
}

hr {
	border: solid grey;
	background-color: grey;
	height: 50px;
	border-radius: 0px;
}